[submodule "color-rg"]
	path = site-lisp/color-rg
	url = http://github.com/manateelazycat/color-rg.git
[submodule "awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "maple-iedit"]
	path = site-lisp/maple-iedit
	url = https://github.com/honmaple/emacs-maple-iedit.git
[submodule "emacs-maple-imenu"]
	path = site-lisp/emacs-maple-imenu
	url = https://github.com/honmaple/emacs-maple-imenu.git
